@import 'variables';

// app specific styles here ... (import other scss files or define as needed)
.add-link-btn {
  background-color: $hobbit-green;
  border-radius: 100;
  color: white;
  display: block;
  font-size: 28;
  font-weight: bold;
  margin-right: 20;
  text-align: center;
  text-decoration: none;
}

.headline {
  font-style: italic;
  margin-bottom: 20;
  margin-top: 20;
  text-align: center;
}

.overview-preview {
  margin: 20;
  text-align: center;
}

.overview-box {
  border-color: lightgray;
  border-style: solid;
  border-width: 1;

  &.tracked {
      background-color: $hobbit-green;
  }
}
