@import '../../../app-variables';

.meal-box {
    border-color: lightgray;
    border-style: solid;
    border-width: 1;
    color: black;
    display: block;
    font-size: 20;
    margin: 10 0;
    padding: 15 25;
    width: 100%;

    &.tracked {
        background-color: $hobbit-green;
        color: white;
    }
}