@import '../../../app-variables';

.track-btn {
    background-color: $hobbit-green;
    border-radius: 10;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 22;
    padding: 10 20;
    text-align: center;
}