@import '../../../app-variables';

.food-list, .food-name {
    font-size: 20px;
    margin: 25px 0;
    width: 100%;
}

.track-btn {
    background-color: $hobbit-green;
    border-radius: 10px;
    box-sizing: border-box;
    bottom: 20px;
    color: white;
    display: block;
    font-size: 22px;
    padding: 10px 20px;
    position: fixed;
    right: 20px;
    text-align: center;
}

.status {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-sizing: border-box;
    display: none;
    font-size: 30px;
    height: 90%;
    left: 5%;
    padding-top: 45%;
    position: fixed;
    text-align: center;
    top: 5%;
    width: 90%;

    &.show {
        display: block;
    }

    .reminder {
        font-size: 25px;
        font-style: italic;
        margin: 30px 0;
    }

    a.status-link {
        bottom: 25px;
        color: black;
        text-decoration: none;
        position: absolute;
        right: 25px;
    }
}

.success-icon {
    background-color: $hobbit-green;
    border-radius: 40px;
    color: white;
    display: inline-block;
    font-size: 30px;
    height: 40px;
    margin-right: 20px;
    width: 40px;
}