@import 'variables';

body {
  background-color: $background-main;
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  margin: 20px 25px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Zilla Slab', serif;
}

.center {
  text-align: center;
}

// app specific styles
.add-link-btn {
  background-color: $hobbit-green;
  border-radius: 45px;
  box-sizing: border-box;
  bottom: 20px;
  color: white;
  display: block;
  font-size: 30px;
  font-weight: bold;
  height: 45px;
  padding-top: 5px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 45px;
}

.overview-preview {
  line-height: 1;
  margin: 25px 25px;
  text-align: center;
}

.overview-box {
  border: 1px solid lightgray;
  display: inline-block;
  height: 100px;
  width: 100px;

  &.tracked {
      background-color: $hobbit-green;
  }
}

#camera-block {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#video {
  background-color: #000000;
  display: block;
  margin: 20px auto;
}

#canvas {
  display: none;
}

.input-row {
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

input {
  border-width: 0 0 2px 0;
  padding: 2px 10px;
}

.ng-invalid:not(form)  {
  border-bottom-color: #a94442; /* red */
}

button {
  cursor: pointer;
  margin: 10px;
  padding: 5px 10px;
}

.status {
  font-size: 30px;
  margin: 50px auto;
  padding-bottom: 60px;
  position: relative;
  text-align: center;
  width: 550px;

  .reminder {
      font-size: 25px;
      font-style: italic;
      margin: 30px 0;
  }

  a.status-link {
      bottom: 25px;
      color: black;
      text-decoration: none;
      position: absolute;
      right: 25px;
  }
}

.success-icon {
  background-color: $hobbit-green;
  border-radius: 40px;
  color: white;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  margin-right: 20px;
  width: 40px;
}
